.App {
  text-align: center;
}

.App-header {
  background-image: url("city2.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: rgb(213, 215, 85);
}

.App-robot {
  animation: App-robot-spin infinite .2s linear;
}

@keyframes App-robot-spin {

  from {

    transform: translateY(0);

  }

  to {

    transform: translateY(-10%);

  }

}