.App {
  text-align: center;
}

.App-header {
  background-image: url("city2.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: rgb(213, 215, 85);
}

.App-robot {
  animation: App-robot-jump infinite .2s linear;
}

@keyframes App-robot-jump {

  from {

    transform: translateY(0);

  }

  to {

    transform: translateY(-10%);

  }

}

.robot-container {
  position: relative;
}

.orbiting-image {
  position: absolute;
  border-radius: 50%;
}

.image1 {
  top: -45%;
  left: -30%;
  animation: orbit1 infinite 5s ease-in-out;
}

.image2 {
  top: -45%;
  left: 90%;
  animation: orbit2 infinite 5s ease-in-out;
}

.image3 {
  top: 100%;
  left: -25%;
  animation: orbit3 infinite 5s ease-in-out;
}

.image4 {
  top: 105%;
  left: 90%;
  animation: orbit4 infinite 5s ease-in-out;
}

@keyframes orbit1 {
  0% {
    transform: translateX(0%) 
  }

  25% {
    transform: translateX(300%)
  }

  50% {
    transform: translateX(300%) translateY(275%)
  }

  75% {
    transform: translateX(0%) translateY(275%)
  }

  100% {
    transform: translateX(0%) translateY(0%)
  }
}

@keyframes orbit2 {
  0% {
    transform: translateX(0%) 
  }

  25% {
    transform: translateX(0%) translateY(275%)
  }

  50% {
    transform: translateX(-300%) translateY(275%)
  }

  75% {
    transform: translateX(-300%) translateY(0%)
  }

  100% {
    transform: translateX(0%) translateY(0%)
  }
}

@keyframes orbit3 {
  0% {
    transform: translateX(0%) 
  }

  25% {
    transform: translateX(0%) translateY(-275%)
  }

  50% {
    transform: translateX(300%) translateY(-275%)
  }

  75% {
    transform: translateX(300%) translateY(0%)
  }

  100% {
    transform: translateX(0%) translateY(0%)
  }
}

@keyframes orbit4 {
  0% {
    transform: translateX(0%) 
  }

  25% {
    transform: translateX(-300%) translateY(0%)
  }

  50% {
    transform: translateX(-300%) translateY(-300%)
  }

  75% {
    transform: translateX(0%) translateY(-300%)
  }

  100% {
    transform: translateX(0%) translateY(0%)
  }
}