@font-face {
  font-family: Pixel;
  src: url("GomePixel-ARJd7.otf") format("opentype");
}

body {
  margin: 0;
  font-family: Pixel;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 2px purple;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
